@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }

    #contact,
    #projects {
        height: fit-content;
    }

    .section__pic-container11 {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }

    .section__pic-container11 {
        display: none
    }
}

@media screen and (max-width: 600px) {


    #contact,
    footer,
    .last_class {
        height: 40vh;
    }

    /*PROFILE SECTION*/
    #profile {
        display: flex;
        height: 100vh;
        margin-bottom: 7rem;
        flex-direction: column;
    }

    #projects {
        margin-bottom: 5rem;
    }

    .profile-pic {
        margin-top: -3.5rem;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: -6.5rem;
        width: 15rem;
        height: 15rem;
    }

    .title {
        margin-top: -0.25rem;
        padding: 0;
        font-size: 2rem;
        text-align: center;
    }

    .section__text__p0 {
        margin-top: -8rem;
    }

    .section__text__p2 {
        font-size: 1.25rem;
        margin-top: -1rem;
    }

    /*ABOUT SECTION*/
    .section__text__p13 {
        margin-top: -6rem;
    }

    .about-pic {

        width: 17.5rem;
        height: 25rem;
        margin-bottom: none;
    }

    .about-details-container {
        margin-top: -3rem;
    }

    /*EXPERIENCE*/
    .section__text__p14 {
        margin-top: -4rem;
    }

    /*PROJECTS*/
    .section__text__p15 {
        margin-top: -5rem;
    }

    .btn1 {
        padding: 0.25rem;
    }

    /*Contact*/
    .section__text__p16 {
        margin-top: 1rem;
    }

    article {
        font-size: 1rem;
    }

    footer nav,
    .footer_catch {

        margin-top: 7rem;
        margin-bottom: 2rem;
    }

    .about-containers,
    .btn-container {
        flex-wrap: wrap;
        margin-left: none;
    }

    .contact-mq {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: -7rem;
        margin-top: 1rem;
    }

    .contact-info-container {
        margin: auto;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }




    .text-container {
        text-align: justify;
    }
}